*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: gray;
}

.form-register {
width: 550px;
background:white;
padding: 50px;
margin: auto;
margin-top: 50px;
border-radius: 10px;
box-shadow: 7px 13px 30px #000;

}

.form-register h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color:black;
    
}

.controls {
width: 100%;
background: #d3d5e2;
padding: 10px;
border-radius: 5px;
margin-bottom: 16px;
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.form-register .button  {
    width: 100%;
    background: black;
    border: none;
    padding: 12px;
    color: aliceblue;
    margin: 16px 0;
    font-size: 26px;
    border-radius: 7px;

}
